{% load static %}

{% block title %}MG FASHIONISTO ACADEMIC{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A learning platform that teaches you all you need to know about fashion and design, with specialization in both male and female.">
  <meta name="author" content="Mustapha Aliyu Galadima">

{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

  <title style="background-color: chartreuse;">MG FASHIONISTO ACADEMIC - Home</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!--Favicon for this project-->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="icon" type="img/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="img/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-info">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card hidden-lg border-0 shadow-lg my-6">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row" style="@media (max-width: 540px) {
              display: flex;
              flex-direction: row;
            }"
              <div class="col-lg-6 d-sm d-sm-block" style="height: auto;">
                <img src="{% static 'img/mgfashiondark.png' %}" class="rounded" alt="Cinque Terre">
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-white-900 mb-4">Welcome To MG FASHIONISTO ACADEMIC!</h1>
                  </div>
                  <a href="{% url 'register' %}" class="btn btn-danger btn-block btn-lg">Register / Sign Up</a>
                  <br>
                  <a href="{% url 'login' %}" class="btn btn-primary btn-block btn-lg">Login</a>
                  <br>
                  <a href="{% url 'password_reset' %}" class="btn btn-success btn-block btn-lg">Forgot Password</a>
                  <hr>
                  <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="#" target="_blank">Learn to create Clothes - Youtube</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="#" target="_blank">Instagram-Page</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
