{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}Moduletwo | MG Fashionisto Academic{% endblock %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A learning platform that teaches you all you need to know about fashion and design, with specialization in both male and female.">

    <!--Favicon for this project-->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="icon" type="img/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="img/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

  <title>MG FASHIONISTO ACADEMIC</title>
 
  <!-- Custom fonts for this template-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- Date Time Picker CSS -->
  <link rel="stylesheet" href="{% static 'date-time-phone/jquery-ui.css' %}">
  <link rel='stylesheet' href="{% static 'date-time-phone/jquery-ui-timepicker-addon.css' %}" />
  <!-- Date Time Picker CSS -->

</head>

<body id="page-top" style="background-color: rgb(0, 0, 0); padding-right: 50px; margin: 30px;">

    <div class="container">
      <h1 style="background-color: rgb(69, 87, 200); text-align: center;">History of Fashion Design</h1>
     
     <h2 style="background-color: rgb(209, 67, 67);">Fashion in the 19th Century</h2>

        <h2>Introduction</h2>
        
        <p>
            Although apparel was around in the 17th and 18th centuries, we will begin discussing the history of fashion design here, in the 19th century, when dress took a dramatic change.<br>
        </p>
        <p>
            It was at this point in history that sewing machines, electricity, dye formulas, and many other inventions were introduced, which changed the way clothing was manufactured.<br>
        </p>
        <p>
            We will begin by looking at the different dress styles of that era.<br>
        </p>

        <h2><i>Woman’s Clothing</i></h2>

        <p>
            During the 19th century, women’s dress saw a significant shift, primarily in how much the female figure was shown.<br>
        </p>
        <p>
            The styles began revealing more of the female body and showing thinner silhouettes, which placed emphasis on women having a slim waist.<br> 
            Additionally, the skirts were fuller and often featured heavy ornamentation.<br>
        </p>
        <p>
            Although this was over a hundred years ago, you might notice examples of this fashion trend repeated today.<br>
        </p>
        <p>
            When women are selecting a bridal gown, many times they will opt for a dress with a tight, cinched waist, heavy ornamentation, and a full skirt.<br>
        </p>

        <h2><i>Men’s Clothing</i></h2>

        <p>
            The 19th century was a crucial time period for men because it laid the foundation for gentleman’s clothing for years to come.<br>
        </p>
        <p>
            It was at this point that men began to wear high-collared shirts, vests, trousers, and waistcoats.<br> 
            The colour black was also introduced during this time, which has lasted to this day in the form of suits and tuxedos.<br>
        </p>
        <p>
            The work blue jeans are one fashion style that was introduced in the 19th century and went on to become the single most recognised and influential fashion trend today.<br>
        </p>

        <h2><i>Charles Frederick Worth</i></h2>

        <p>
            You already learned briefly about Charles Frederick Worth, who was the first fashion designer to dictate design to clothing.<br>
        </p>
        <p>
            However, it is important to explore his contributions to 19th century fashion a little further.<br> 
            When it comes to significant influencers of this era, Worth is at the top of the list.<br>
        </p>
        <p>
            Charles Worth was an English fashion designer who made his claim to fame in the French fashion industry.<br> 
            Worth began his career working across several prestigious draper’s shops in London before moving to Paris in 1846.<br>
        </p>
        <p>
            Following the move and his marriage to a French model, Charles Worth became a junior partner in a Parisian drapery shop.<br> 
            It did not take Worth long to convince his associates to expand into dressmaking, which led to the dressmaking establishment <b>Worth and Bobergh</b> in 1858.<br>
        </p>
        <p>
            With his new shop he dressed actresses, models, and singers, who would travel from other countries to see him. Worth became known as the father of haute couture and is credited as the first designer to put labels on the clothes he manufactured.<br> 
            His work is also associated with a movement that sought to redefine the female shape.<br>
        </p>
        
        <h2><i>John Redford</i></h2>

        <p>
            Another influential designer of the 19th century was an English designer by the name of John Redford, who was the first to design tailor-made, two-piece jacket and skirt garments.<br>
        </p>
        <p>
            This designer operated under the name <b>“John Redford and Sons”</b> in Paris and was most popular among active women of the late 1800s.<br>
        </p>
        <p>
            Redford’s tailor-made styles led to a dress revolution at the end of the 19th century, which paved the way for a more comfortable clothing in the 20th century.<br>
        </p>
        <div style="border: solid;">
            <p>
                We have covered a couple of the greatest fashion designers of the 19th century, and with their influence, more designs and fashions were created.<br>
            </p>
            <p>
                It is important to understand where these designers drew their inspiration from, as there were quite a few influences in that era.<br>
            </p>
        </div>

        <h2><i>Regency Influence</i></h2>

        <p>
            Fashion in the early 19th century was inspired by Britain’s George, Prince Regent and is characterised by empire waist dress lines, classic Greek lines, and thin, fine fabrics.<br>
        </p>
        <p>
            This particular style is still worn over two hundred years later.<br>
        </p>

        <h2><i>Victorian Influence</i></h2>

        <p>
            We covered Regency style, which includes the earlier part of the 19th century, however, after 1837, when Queen Elizabeth rose to the throne in 1837, fashion evolved, and things changed.<br>
        </p>
        <p>
            The Victorian style primarily influenced the latter part of 19th century fashion; however, there were other influences throughout the century.<br>
        </p>
        <p>
            The Victorian style ushered in more ornate woman’s clothing with high necks, fitted bodices, lavish lace embroidery, and lace designs.<br> 
            For men, the designs were quite the opposite in comparison with other eras; the style became more understated.<br>
        </p>
        <P>
        Men’s clothing in this era was simple with no loud or colourful designs.<br> 
        In fact, it was considered in poor taste for men to be seen in anything other than black and white, and most men dressed alike.<br> 
        However, some men added details like pocket watches to display their wealth.<br>
        </P>

        <h2><i>Gothic Influence</i></h2>

        <p>
            The gothic influence of clothing is yet another example of how fashion styles can emerge and re-emerge.<br>
        </p>
        <p>
            You might wear this style yourself or have seen it on television or the big screen.<br>
        </p>
        <p>
            It might be surprising to learn that the gothic fashion is not a 21st century fashion style.<br> 
            In fact, it originated in the 19th century when Britain and France were feuding.<br>
        </p>
        <p>
            Since both countries’ styles varied, women did not know what the enemy was wearing, so each country developed their own style.<br> 
            Thus, the Gothic style was developed in 1811 and drew influence from medieval garments.<br>
        </p>

        <h2><i>The Romantic Movement</i></h2>

        <p>
            The gothic influence continued through the next few years, but slowly the fashion began changing, beginning with the empire waist, which began dropping to the standard waist length.<br>
        </p>
        <p>
            Also, bodices developed a V-shape, women began to wear corsets, and men wore frock coats with tails.<br>
        </p>
        <p>
            This era, known as the Romantic Movement, influenced fashion from the late 18th century to the mid-19th century.<br>
        </p>

        <h2 style="background-color: rgb(209, 67, 67);">20th Century Trends and Designs</h2>

        <p>
            We covered some of the most significant trends of the 19th century, along with what influenced the trends.<br>
            Although these fashions occurred centuries ago, many of them are still around today in one form or another, so it is important to learn and understand their origin.<br>
        </p>
        <p>
            Now, we will move on to fashion from the 20th century, which you are most likely much more familiar with.<br>
        </p>
        <p>
            As you make your way through the history of fashion in the 20th century, you might notice where these trends are repeated as inspiration today.<br>
        </p>
        
        <h2><i>The 1900s</i></h2>

        <p>
            As we transition from the 19th to the 20th century, you will find that fashion trends are influenced more by social movements, politics, and war.<br>
        </p>
        <p>
            The beginning of the 20th century was often referred to as the ‘plume boom’, because real feathers became increasingly popular.<br> 
            In fact, they were so popular in clothing that it caused a massive decline in the bird population during that time.<br>
        </p>
        <p>
            In addition to heavily adorned feathered hats and apparel, the early 1900s is known for the Edwardian corset, which was designed to accentuate a woman’s breasts and hips, while dramatically cinching the waist.<br>
        </p>
        <p>
            As for men’s fashion in the early 1900s, it was common to see men wearing different coats during different times of the day, which varied between overcoats, and knee-length top coats.<br>
        </p>
        
        <h2><i>The Roaring ‘20s</i></h2>

        <p>
            The 1920s was a significant time in history defined by a free-spirited culture that often rejected the traditional standards of dress.<br>
        </p>
        <p>
            This era, often referred to as the ‘Roaring Twenties’, led to styles that are still used today in theatre, costume, and fashion design.<br>
        </p>
        <p>
            Fashion during this time was about comfort and stretching the boundaries of style.<br>
        </p>
        <p>
            You might already recognise the Roaring Twenties for the popular woman’s ‘flapper dress’, and art deco designs, which women traded for the corsets and tight dresses.<br>
        </p>
        <p>
            It even became acceptable for women to wear trousers during this era.<br> 
            Men during this time wore wider pants and abandoned their formal daily wear.<br>
        </p>

        <h2><i>1930s</i></h2>

        <p>
            Towards the end of the roaring ‘20s, Wall Street crashed, and the Great Depression began, which had a profound influence on fashion. Suddenly, fashion was not as expressive as the decade before, and women returned to a more feminine and conservative appearance.<br>
        </p>
        <p>
            Although the Great Depression caused many people to fall on hard times, there were a few new things introduced.<br>
        </p>
        <p>
            For starters, women skirts became longer, and dresses were bias-cut to emphasise women’s curves.<br> 
            This decade also introduced bra cup sizing and nylon fabrics as a replacement for silk.<br>
        </p>
        <p>
            Men’s suits during this time were changed to create larger torsos, padded shoulders, and tapered sleeves.<br> 
            Trench coats with wide lapels and belted waists were also introduced.<br>
        </p>
        
        <h2><i>1940s</i></h2>

        <p>
            As we move into the 1940s, fashion was made to be affordable and durable, and not fashionable.<br> 
            Most of the clothing from this era was patterned after civilian uniforms and utility outfits.<br>
        </p>
        <p>
            During the ‘40s, women often repurposed bed sheets, old clothing, and other scraps to ensure their clothing did not seem repetitive.<br>
        </p>
        <p>
            There is one design that came out in this era that became especially popular for women and remains so today.<br>
        </p>
        <p>
            Throughout the previous decades, the only bathing suit option for women was a one piece, until 1940 when the two-piece, high-waisted suit was introduced.<br>
        </p>
        <p>
            As for the men, the 1940s were an exciting time for fashion, which up until this era had been rather dull.<br>
        </p>
        <p>
            Following World War II, a high-waisted, tight-cuffed, wide-legged men’s suit, known as the Zoot suit, became popular.<br> 
            These suits are still seen today, and you might even be familiar with the style yourself.<br>
        </p>

        <h2><i>1950s</i></h2>

        <p>
            Fashion in the ‘50s saw a post-war re-emergence of haute couture with designers like Christian Dior and Cristobal Balenciaga rebelling against the restrictive styles of the past.<br>
        </p>
        <p>
            Also, the glamourous ‘50s housewife and a new rock ‘n’ roll music scene was born, both of which had a profound influence on fashion design.<br>
        </p>
        <p>
            During this era, the ready-to-wear mass market took off, with <b>Marks</b> and <b>Spencer</b> leading the market in making everyday fashion.<br>
        </p>
        <p>
            For women, several looks became popular.<br> 
            One look, inspired by Audrey Hepburn, included Capri pants, knitted jumpers, and ballet flats.<br> 
            The ‘50s also introduced the wildly popular poodle skirt, trapeze style dress, and large over-sized accessories.<br>
        </p>
        <p>
            Menswear in this decade was largely influenced by musicians and icons, which introduced the popular ‘Rat Pack’ style of suits and hats that became popular for men over the age of 30. Other looks inspired during this era include country style cardigans, wool jackets with loud ties, and single breasted jackets with velvet or satin lapels.<br>
        </p>
        
        <h2><i>1960s/1970s</i></h2>

        <p>
            As we move on to the loud and flamboyant looks of the ‘60s, you may recognise some of the styles used as inspiration in today’s hottest designs.<br>
        </p>
        <p>
            Fashion in the ‘60s was inspired by the social movements of the decades and from a few popular icons of the time.<br> 
            Some of these icons included the Beatles, Twiggy, Brigitte Bardot, and Jackie Kenne.<br>
        </p>
        <p>
            <i>So, what did people wear in the ‘60s?</i>
        </p>
        <p>
            This decade began with perfectly polished and tailored suits, which were inspired by Jackie Kennedy.<br> 
            However, towards the middle of the era, supermodel Twiggy and Brigitte Bardot had women taking fashion to an entirely different extreme. Under their influence, a more playful style baby doll look took over.<br>
        </p>
        <p>
            This included shapeless mini dresses, Mary Jane strap shoes, oversize bows, collars, polka dots, bright colours, and pop art movements.<br> 
            Also, a trendy earth tone hippie movement took over during this decade.<br> 
            Men were just as drastic, loud, and colourful as the women, but they did incorporate tighter pants, and a Beatles inspired pea coat.<br>
        </p>
        <p>
            As we move away from the ‘60s and into the ‘70s, you see a lot less of the hippie clothing and more disco fashion styles.<br>
        </p>
        <p>
            This era inspired disco style fashion, which included platform shoes, bell bottom pants, and thigh-high boots.<br>
            The ‘70s also inspired independent designers to open unique London boutiques, which featured innovative styles for the younger generation.<br>
        </p>

        <h2><i>1980s/1990s</i></h2>

        <p>
            Almost everyone recognises ‘80s style clothing in one form or another, and although the style is famous for being tacky, it is making its way back into today’s fashion.<br> 
            The style of dress during this era was just plain bad, so much so it is still talked about to this day.<br>
        </p>
        <p>
            The fashion during this decade was big, loud, and colourful.<br>
        </p>
        <p>
            Pop music icons like Cyndi Lauper, Madonna, Prince, and Michael Jackson were ushering in unique styles that had people everywhere sporting large accessories, huge hair, and neon colours.<br> 
            Women during this time wore hoop earrings, stirrup pants, parachute pants, and very high waistlines.<br>
        </p>
        <p>
            Unfortunately, men didn’t dress much better with their acid wash jeans, turtle necks, graphic tees, and tracksuits.<br>
        </p>
        <p>
            As we moved into the ‘90s, the trends calmed down a little bit, but fashion was still loud and tacky.<br> 
            This era introduced the slip dress, longer skirts, more alternative suits, and softer shapes.<br>
        </p>
        
        <h2><i>2000's</i></h2>

        <p>
            The year 2000 was known for the millennium bug, and many people associate it with a massive rise in technology.<br>
        </p>
        <p>
            It is at this point when technology advanced, so let’s look and see if fashion design evolved with it.<br>
        </p>
        <p>
            This year in fashion is often referred to as the ‘Global Mashup’, because trends of previous years past, combined with musical and cultural influences all combined to form one style.<br>
        </p>
        <p>
            However, the most profound influence of this year was technology, which led designers to create mesh tops, box pleated skirts, handkerchief tops, sequenced shirts, and leather skirts.<br>
        </p>

        <h2 style="background-color: rgb(209, 67, 67);">20th Century Fashion Designers</h2>

        <div style="border: solid;">
            <p>
                Now that we have reviewed fashion throughout the course of history, it is important to look at some of the designers who had a profound influence on making these styles happen.<br>
            </p>
        </div>

        <h2><i>Gabrielle “Coco” Chanel</i></h2>

        <p>
            The name ‘Chanel’, is known worldwide and is associated with glamour, but what many people don’t know is the history behind the name.<br>
        </p>
        <p>
            Gabrielle “Coco” Chanel is the name behind the famous 1920s flapper dress, which she originally called ‘garconne’.<br>
        </p>

        <h2><i>Jean Patou</i></h2>

        <p>
            Another famous designer from the ‘20s who had a significant influence on fashion is Jean Patou who invented the designer tie, along with matching, gloves, scarves, and hats.<br>
        </p>
        
        <h2><i>Christian Dior</i></h2>

        <p>
            You probably recognise the name Christian Dior, which is still around today and recognised as a high-end, luxurious fashion designer.<br>
        </p>
        <p>
            However, Dior began humbly in 1946 as a small fashion house named ‘Corrole’.<br>
        </p>
        <p>
            Dior went on to inspire 1950s fashion by creating the pencil and A-line skirts.<br>
        </p>

        <h2><i>Hubert de Givenchy</i></h2>

        <P>
            Women everywhere will appreciate this next designer who is behind the perfect little black dress, which today is referred to as an ‘LBD’.<BR>
        </P>
        <P>
            His creation was made in the ‘50s and inspired by Audrey Hepburn who wore it in Breakfast at Tiffany’s.<br>
        </P>

        <h2><i>Oscar De La Renta</i></h2>

        <p>
            Powerhouse designer Oscar De La Renta has over five decades of fashion experience creating ready-to-wear clothing.<br>
        </p>
        <p>
            This designer was very popular in the ‘60s and was well known for his evening gowns and suits.<br>
        </p>

        <h1  style="background-color: rgb(209, 67, 67);">21st Century Fashion Vogue Introduction</h1>

        <p>
            After learning about fashion throughout the decades, you might begin to recognise some of the fashions in the 21st century.<br> 
            You should have also realised that every decade looked to the past for inspiration.<br>
        </p>
        <p>
            With that said, the 21st century has been a grab bag of decades past and continues to draw design styles from centuries-old fashion designers.<br> 
            Alternatively, there are also new trends that arise due to changes in technology and environmentalism, which the fashion industry has never seen before.<br> 
            To illustrate this point, let’s take a look at some 21st century fashion trends.<br>
        </p>
        
        <h2><i>Sustainable Fashion</i></h2>

        <p>
            The fashion industry is now much more eco-conscious, and many designers are utilising sustainable fabrics or man-made alternatives in their clothing.<br>
        </p>
        <p>
            Many top designers like Vivienne Westwood, Prada, Katie Jones, and Auria, have pledged to eliminate their carbon footprint.<br>
        </p>

        <h2><i>High-Tech Clothing</i></h2>

        <p>
            You might remember tech clothing slowly started making an appearance at the end of the 20th century.<br>
        </p>
        <p>
            However, in the 21st century, we really started to stretch the boundaries of what we could do with fabrics.<br>
        </p>
        <p>
            Fashion designers started to make wrinkle-free clothing, anti-static fleece, stain resistant ties, and machine washable leather.<br>
        </p>
        <p>
            We also came up with hypoallergenic, anti-bacterial, and even fitness clothing in this era.<br>
        </p>

        <h2><i>Vintage Clothing</i></h2>

        <p>
            In the 21st century, everything that is old is new, which means some of the styles from decades past is upcycled and considered ‘vintage’.<br>
        </p>
        <p>
            For instance, leggings, big bows, and skinny jeans have circled back during this decade.<br> 
            We have also seen a re-emergence of high heel boots, pencil skirts, and ballet flats.<br>
        </p>

        <h1><i>Materials to learn from</i></h1>

        <ul>
            <p>
            <li>HOW TO TAKE MEASUREMENTS</li>
            </p>

            <div>
                <a class="medium" href="https://www.youtube.com/watch?v=lupgQ3vbnYY" target="_blank">Learn to Take Measurements - Youtube</a>
            </div>

            <p>
                <li>HOW TO TAKE FULL BODY MEASUREMENTS</li>
            </p>
                                
            <div>
                <a class="medium" href="https://www.youtube.com/watch?v=69lwpJy13Pc" target="_blank">Learn Measurements - Youtube</a>
            </div>
        </ul>

        <h1 style="background-color: rgb(209, 67, 67);">Activities for this module</h1>

        <div class="box" style="border: solid;">
          <p>
            <stronge>The following activities require you to research and explore.<br> 
                Although they will not be evaluated, they will help you grow and develop as a fashion designer.<br></stronge>
          </p>
        </div>
  
        <h2>Activity</h2>
  
        <p>
          <i>Estimated Time: 1-week</i>
        </p>

        <p>
            Take some time to review what you have learned, then begin looking for trends in each century.<br> 
            Begin with the 19th century fashions influencers; are there any fashion styles that designers are using as inspiration today? If so, give an example of where and which designer has drawn inspiration from 19th century fashion.<br>
        </p>
        <p>
            Next, move on to the 20th century, do you find that fashion from the roaring ‘20s is repeated anywhere? What about other decades?<br>
        </p>
        <p>
            Use your imagination when looking for trends, think about costumes and films and do your best to research designers who draw influence from other eras. Remember, there are also avant garde designers who might consider other periods like 1960 or 1980 to be particularly inspiring.<br>
        </p>
        <p>
            Select two of the great influencers that you learned about in the module.<br> 
            You should choose two designers from two time periods.<br>
        </p>
        <p>
            Once you have made your selection, review their works beginning with the earliest work that you can find. What significant contributions have they made to fashion design? Next, follow what the design label is creating today, how has the label evolved throughout the years?<br>
        </p>
        <p><i>Submittion should be make through the academic website.</i></p>

        <!--Footer for this project-->
        <hr>
        <footer class="bg-dark text-center text-gray-200">
              
            Copy Rights <span>&copy; 2023 Mg Fashionisto Academic. All Rights Reserved</span>
    
        </footer>
    

</body>
</html>