{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}Modulethree | MG Fashionisto Academic{% endblock %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A learning platform that teaches you all you need to know about fashion and design, with specialization in both male and female.">

    <!--Favicon for this project-->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="icon" type="img/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="img/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

  <title>MG FASHIONISTO ACADEMIC</title>
 
  <!-- Custom fonts for this template-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- Date Time Picker CSS -->
  <link rel="stylesheet" href="{% static 'date-time-phone/jquery-ui.css' %}">
  <link rel='stylesheet' href="{% static 'date-time-phone/jquery-ui-timepicker-addon.css' %}" />
  <!-- Date Time Picker CSS -->

</head>

<body id="page-top" style="background-color: rgb(0, 0, 0); padding-right: 50px; margin: 30px;">

    <div class="container">
      <h1 style="background-color: rgb(69, 87, 200); text-align: center;">Elements and Principles of Fashion Design</h1>
     
     <h2 style="background-color: rgb(209, 67, 67);">Elements and Principles Introduction</h2>

        <p>
            In order to begin creating your own designs, you need to have a complete understanding of the elements and principles of design.<br>
        </p>
        <p>
            In previous modules, we covered some very basic fashion terminology, so you are already familiar with some of the fundamental elements of design.<br>
        </p>
        <p>
            In this topic, we will explore what you will need to know and understand to mould, create, and design your own clothing.<br>
        </p>
        <p>
            This topic was written to give you an understanding of design principles and to help you understand the consumer.<br>
        </p>

        <h2 style="background-color: rgb(209, 67, 67);">Elements of Fashion Design</h2>

        <h4><stronge>There are four elements of design that you will need to understand in depth as a fashion designer.</stronge></h4>

        <h2><i>1. Line</i></h2>

        <p>
            The first element of fashion design is line, which can be created through the structure or decorative features in a garment.<br> 
            For example, seam and hem lines are used often in fashion to create different looks and styles.<br>
        </p>
        <p>
            Decorative lines differ because they are not functional; they are used to create visual appeal and do not hold the garment together.<br> 
            You might see a decorative line designed with trims, or piping.<br>
        </p>
        <p>
            The use of line in fashion is crucial because it affects how we see the design.<br> 
            Lines have direction and weight, which affect how it can look on the body.<br> 
            It is important for a designer to use this element wisely so that the clothing is flattering.<br>
        </p>
        
        <h2><i>2. Shape</i></h2>

        <p>
            In previous modules, you might remember learning about silhouettes and how they are constantly evolving throughout history.<br>
        </p>
        <p>
            The next element of design is shape, which refers to the silhouette or overall shape of a garment.<br> 
            The shape that you create for your design can either accentuate or disguise parts of a female or male’s natural body.<br>
        </p>
        <p>
            As a designer, it is important to choose clothing shapes that are most flattering to the body type you are designing for.<br>
        </p>
        <p>
            You should always try to flatter the good features and hide the less attractive features.<br>
        </p>

        <h2><i>3. Texture</i></h2>

        <p>
            The third element of design is texture, which refers to the surface quality of what you are creating.<br>
        </p>
        <p>
            Texture refers to how an item looks or feels when it is touched, which means a garment can have any number of textures.<br> 
            Your wardrobe, for example, is filled with different textures.<br>
        </p>
        <p>
            You could be wearing denim jeans with zippers, a satin shirt, and a sweater made with thick, heavy yarn.<br> 
            All of these different materials are made of textures that you as the designer can incorporate into your designs to add weight, design, or to flatter the wearer’s appearance.<br>
        </p>

        <div style="border: solid;">
            <p>
                Silhouettes are constantly changing, and the ideal shape will most likely continue to evolve.<br> 
                However, the following shapes have remained fashionable and flattering, prompting designers to continue to use them in design.<br>
            </p>
        </div>

        <h3>Hour Glass</h3>

        <p>
            The hourglass shape is an often revered shape among women because it is considered the perfect women’s figure.<br>
        </p>
        <p>
            This popular silhouette shows the bust and hip at the same width, with a narrower waist.<br> 
            You should use this shape to draw attention to the natural shape of a woman’s figure.<br>
        </p>
        
        <h3>Wedge</h3>

        <p>
            The wedge silhouette is popular in both men and women’s fashion.<br>
        </p>
        <p>
            This shape is wide at the shoulders and narrows at the bottom.<br> 
            It is most commonly used to draw attention to the shoulders and make them appear broader.<br>
        </p>

        <h3>Tubular</h3>

        <p>
            Another popular shape among both men and women is the tubular shape, which features little definition throughout the waist, shoulders, and hips.<br>
        </p>
        <p>
            This silhouette does not cling to the body and is used to smooth out body lines.<br>
        </p>

        <h3>Bell</h3>

        <p>
            The bell silhouette is fitted at the top and flares out into a full, bell-shaped skirt.<br>
        </p>
        <p>
            This shape is popular in women’s fashion and is used to draw the attention to the waist and hip area.<br>
        </p>
        
        <h3>A-Line</h3>

        <p>
            The A-Line shape is used in women’s dresses and skirts and is popular for flattering all figures.<br>
        </p>
        <p>
            This silhouette resembles the letter A, is narrow at the top, and broadens at the bottom.<br> 
            This style is also used to smooth out body lines.<br>
        </p>

        <p>
            As a designer, the only limit to the materials you can use for texture is your imagination.<br> 
            You can use different fabrics, sequins, leather, and fur.<br>
        </p>
        <p>
            However, there are a few ways in which texture is incorporated into designs, which you should be familiar with:<br>
        </p>

        <div style="border: solid red;">
            <h4><i>All throughout</i></h4>
            <p>
                Texture may be integrated all over the garment, which means that entire garments can be made from synthetic leather, furs, or wool.<br>
            </p>

            <h4><i>Embellishments</i></h4>
            <p>
                You can also use texture as an embellishment, this is great to contrast your design.<br>
            </p>
            <p>
                An example of this would be adding jewels to a sweetheart neckline on an evening gown.<br>
            </p>

            <h4><i>Mix-and-Match</i></h4>
            <p>
                Adding texture throughout clothing is another great way to incorporate this element into your wardrobe.<br>
            </p>
            <p>
                For instance, you can add a chunky wool scarf to your outfit.<br>
            </p>
        </div>

        <h2><i>4. Colour</i></h2>

        <p>
            The final element in fashion design is colour, which is the most important element you will learn about.<br> 
            There are many different colour schemes that you will learn about and work with in your career.<br>
        </p>
        <p>
            Since there is a world of possibilities available to you, let’s look at a couple of the colour wheels that you will be working with most frequently.<br>
        </p>

    <p>
        <div style="border: solid red;">
            <h4>Neutral Colours</h4>
            <p>
                When it comes to building a wardrobe, neutral colours are about as safe as you can get.<br>
            </p>
            <p>
                These are your versatile colours that work well and match with anything.<br> 
                In fashion, these colours can be used and worn with any other colours so you should remember to take note of the neutral colour wheel.<br> 
                These colours include grey, brown, beige, black, and white.<br>
            </p>

            <h4><i>Warm Colours</i></h4>
            <p>
                When you are working with colours in fashion, they are either referred to as warm or cool.<br>
            </p>
            <p>
                The warm colours are either red, yellow, orange, or a combination of all of these.<br> 
                Learning how to use colour properly will be one of the most valuable skills that you grasp as a designer.<br>
            </p>

            <h4><i>Cool Colours</i></h4>
            <p>
                Each of the colours on the spectrum, whether warm or cool, will help to create an illusion.<br>
            </p>
            <p>
                Cool colours, which are your blues, greens, and purples, will give the illusion of reducing size.<br> 
                They also are calming and have soothing properties.<br>
            </p>
            <p>
                After some time, you will learn how to perfectly harmonise warm and cool colours together to create the perfect wardrobe.<br>
            </p>
            <p>
                For now, one tip to keep in mind is, it is always best to match warm colours with other warms, and cools with cools.<br>
            </p>

            <h4><i>Monochromatic Colour Scheme</i></h4>
            <p>
                When a designer begins to combine different shades, tints, and intensities of colours on the wheel to compliment one colour, it is referred to as a monochromatic colour scheme.<p></p>
            </p>

            <h4><i>Complementary Colour Scheme</i></h4>
            <p>
                <b>When two colours are located directly across from each other on the colour wheel</b>, they are known as colour harmonies or complementary colour schemes.<br>
            </p>
            <p>
                These colours work well when you want something to stand out, but you have to be careful when using them in large doses.<br>
            </p>
            <p>
                The colours red and green are a perfect example of this scheme.<br>
            </p>

            <h4><i>Analogous Colour Scheme</i></h4>
            <p>
                When looking at a colour wheel, there are usually a few colours that are serene and pleasing to the eye.<br>
            </p>
            <p>
                <b>They are located next to each other on the wheel</b>, are generally harmonious, and are found in nature.<br>
            </p>
            <p>
            This is referred to as an analogous colour scheme and when working with them, you should choose one dominant, one supportive, and a third accent colour.<br>
            </p>
        </div>
    </p>

        <h2 style="background-color: rgb(209, 67, 67);">The Principles of Fashion Design</h2>

        <div style="border: solid red;">
            <p>
                Now that we have reviewed the four elements of design let’s look at the five principles of design, which include balance, proportion, rhythm, emphasis, and harmony.<br>
            </p>
        </div>

        <h4><i>1. Balance</i></h4>

        <p>
            When it comes to principles in fashion design, each one has a specific role in making your garment visually pleasing.<br>
        </p>
        <p>
            In order for your design to be visually appealing, it must have balance, which is simply the visual weight of your design.<br> 
            Balance can be achieved using necklines, seams, and hemlines.<br>
        </p>
        <p>
            <i>There are two types of balance you want to look for in other designs and try to create in your own.<br></i>
        </p>
        <p>
            <div style="border: solid red;">
                <h4>Symmetrical Balance</h4>
                <p>
                    Symmetrical balance is simply consistency in a garment.<br>
                </p>

                <h4>Asymmetrical Balance</h4>
                <p>
                    Asymmetrical Balance has been popping up more and more in fashion.<br>
                </p>
                <p>
                    This form of balance is tricky, but it can be an effective fashion design.<br> 
                    You might see asymmetrical balance in a one-shoulder gown or a jacket with only one lapel.<br>
                </p>
            </div>
        </p>

        <h4><i>2. Proportion</i></h4>
        <p>
            When you are designing clothing to fit varying body types, it is important to consider proportions.<br>
        </p>
        <p>
            When it comes to this principle, size and scale are crucial factors.<br> 
            Try to picture a sweater with sleeves that are twice the size of the entire garment.<br> 
            That would not make sense to the outfit.<br>
        </p>
        <p>
            The principle of proportion states that various components within a garment or accessory will look good together when they are balanced with size or scale.<br>
        </p>
        <p>
            This is an important principle to remember when dressing specific body types as well.<br> 
            For example, you would not dress a tall person in very long and skinny jeans.<br>
        </p>

        <h4><i>3. Rhythm</i></h4>

        <p>
            The idea of rhythm simply states that the human eye is designed to keep moving, so your designs should harmonise with that concept.<br>
        </p>
        <p>
            Create clothing or accessories that invite the eye to move with the apparel.<br> 
            The following techniques will help you to incorporate this principle in your designs:<br>
        </p>

        <p>
            <div style="border: solid red;">
                <p>
                    <h4>Repetition</h4>
                    <p>
                        When designing clothing, try to repeat shapes, lines, textures, and colours.<br>
                    </p>
                </p>

                <p>
                    <h4>Gradation</h4>
                    <p>
                        Increase or decrease colours, shapes, textures and lines.<br>
                    </p>
                </p>
                <p>
                    <h4>Radiation</h4>
                    <p>
                        Create colours or lines from a centre, flower petals.<br>
                    </p>
                </p>

            </div>
        </p>

        <h2><i>4. Emphasis</i></h2>

        <p>
            This is perhaps the simplest of the principles.<br>
        </p>
        <p>
            Emphasis simply means that you are making an effort to draw interest to a concentrated area of your design.<br>
        </p>
        <p>
            This can be achieved through textures, line, or contrasting colours.<br>
        </p>

        <h2><i>5. Harmony</i></h2>

        <p>
            The last principle of design wraps up all of the principles you learned and is an indicator that your design has achieved all the other aspects of design.<br>
        </p>
        <p>
            If your garment has harmony, it has successfully achieved all the other elements and principles of design, is pleasing to the eye, and nothing is distracting about your design.<br>
        </p>
        <p>
            Harmony always depends on the observer’s personal taste.<br>
        </p>

        <h2 style="background-color: rgb(209, 67, 67);">Fashion Design Styles Introduction</h2>

        <p>
            <b>Understanding Fashion Design Styles</b>
        </p>
        <p>
            You have already learned about a few design styles, but before you can begin fashion researching and forecasting, you need to learn the different style categories.<br> 
            In fashion design, there are different types of styles, which convey a theme.<br>
        </p>
        <p>
            If you are finding it hard to differentiate between a fashion design and a fashion style, it might help to remember that a fashion style often matches a personality trait, and is often like a sketch describing a theme.<br>
        </p>
        <p>
            As a fashion designer, it is important to understand the different fashion designs because many people are consciously drawn to the themes, which fit their fashion style.<br>
        </p>
        <p>
            For example, an artistic person might look for that fashion style in their clothing.<br> 
            In previous modules, you already learned about the classic and gothic fashions, but let’s explore further into some of the other popular styles that you will see in your career.<br>
        </p>

        <h2><i>Bohemian Style</i></h2>

        <p>
            The bohemian style of dress, also referred to as ‘boho’, or ‘boho chic’, first became popular during the ‘60s and ‘70s.<br>
        </p>
        <p>
            This style is free-spirited and draws inspiration from the gypsy look, which utilises free flowing and natural fabrics.<br> 
            Bohemian style fashion also places an emphasis on a concern with the environment and non-traditional looks.<br>
        </p>
        <p>
            You might see a lover of free-spirited Bohemian apparel wearing peasant blouses, tie dye jeans, head scarves, or intricate designs and patterns.<br>
        </p>

        <h2><i>Arty</i></h2>

        <p>
            The arty fashion style is perfect for the person who loves to mix different designs, colours, and patterns.<br>
        </p>
        <p>
            An individual who prefers the arty style of fashion design would avoid the conventional style and opt for something more loud and unique.<br>
        </p>
        <p>
            This fashion style is enthusiastic and includes a mix of the different colour palettes, wide brush strokes, graffiti prints, and bold statements.<br>
        </p>

        <h2><i>Chic</i></h2>

        <p>
            One of the trendiest fashion styles in fashion is referred to as ‘chic’, and includes stylish, classic clothes mixed with strong colours.<br> 
            ‘Chic’, originates from the French word 'chique’, which means elegance and skill.<br>
        </p>
        <p>
            In recent decades, this style has been used to describe a stylish, smart woman who likes to dress both classy and fabulous.<br> 
            So, what exactly does chic look like in a wardrobe?<br>
        </p>
        <p>
            You will want to look for monochromatic colour schemes, bold statement accessories, asymmetrical hemlines, and sleek, clean lines.<br>
        </p>
        <p>
            This fashion style also branched out into a second form called shabby chic, which combines new and antique clothing in one style.<br> 
            Shabby chic is vintage inspired and includes modern pastel colours, pale blues, and layered clothing that evokes a feminine feeling.<br>
        </p>

        <h2><i>Punk</i></h2>

        <p>
            The punk style originated in the mid-'70s, and since that time, has cycled through a variety of modifications and style variations.<br>
        </p>
        <p>
            Thus, there are several different fashion statements you might see occurring under this style, but the goal is to appear edgy.<br>
        </p>
        <p>
            Some of the looks that you might see include skinny jeans, leopard print, spandex, bright colours and leather.<br>
        </p>

        <h2><i>Western</i></h2>

        <p>
            The western fashion style is commonly seen amongst people who prefer cowboy styles or for those who live on a ranch.<br>
        </p>
        <p>
            Western fashion includes blue jeans, fringe, denim jackets, and cowboy boots.<br>
        </p>

        <p>
            These are just a few of many fashion styles that you will come across in your career and from these many more are born.<br>
        </p>
        <p>
            For example, individuals who prefer a classic fashion style might branch out and opt for a glamourous or romantic look for specific occasions.<br>
        </p>
        <p>
            Another important thing to keep in mind is that while some of these fashions might not be popular in the United Kingdom, they may one day become a major influencer, so you should have a wide span of style knowledge.<br>
        </p>
        <p>
            This includes both British and American styles because you never know what will catch on and become the latest and greatest trend.<br>
        </p>

        <h2 style="background-color: rgb(209, 67, 67);">Fashion Market Research Introduction</h2>

        <p>
            To prepare yourself to head out into the world of fashion design, you must first know a little more about the fashion industry itself.<br>
        </p>
        <p>
            You might remember earlier in the course, we learned that a designer is always predicting fashion trends.<br> 
            This skill will be especially important when you are performing market and industry research, which is the next step you should take after making your fashion predictions.<br>
        </p>

        <p>
            <strone>Fashion market research</strone> is a crucial step in fashion design and one that you want to make sure that you do not skip. 
        </p>
        <p>
            The reason why this is so important is that you are determining who is buying apparel and accessories in your target area.<br>
        </p>
        <p>
            You will also take it one step further and find out who, why, and where customers are shopping.<br>
        </p>

        <h4>Identifying and Defining Your Target Customer</h4>

        <p>
            Once you have followed all of the steps that you have learned in this module, including predicting trends and conducting market research, you should be able to identify and define your target customer.<br>
        </p>
        <p>
            With this knowledge, you can find what designs will work for where you live.<br> 
            Another great thing about this is it gives you a competitive edge in an already competitive industry.<br>
        </p>

        <p>
            When it comes to fashion, you might think it is all about designing clothes, but before you do, don’t forget to find out who your customer is.<br>
        </p>
        <p>
            <b>To help you clearly define who your customer is, the following information will help you along the way:</b>
        </p>
        <p>
            <ul>
                <li><i>Determine the needs of your customer</i></li>
                <li><i>Know your buyer’s belief systems</i></li>
                <li><i>Identify your customer’s buying habits, income, and profession</i></li>
            </ul>
        </p>

        <h1><i>Materials to learn from</i></h1>

        <ul>
            <p>
            <li>HOW TO MAKE SHAPES AND PROPORTIONS</li>
            </p>

            <div>
                <a class="medium" href="https://www.youtube.com/watch?v=qB_W4gnSvtk" target="_blank">Learn to make shapes - Youtube</a>
            </div>

            <p>
                <li>ELEMENTS OF SHAPE AND FORM DESIGN</li>
            </p>
                                
            <div>
                <a class="medium" href="https://www.youtube.com/watch?v=LcK5d9kpe88" target="_blank">Learn how to create elements of design - Youtube</a>
            </div>
        </ul>

        <h1 style="background-color: rgb(209, 67, 67);">Activities for this module</h1>

        <div class="box" style="border: solid;">
          <p>
            <stronge>The following activities require you to research and explore. Although they will not be evaluated, they will help you grow and develop as a fashion designer.<br></stronge>
          </p>
        </div>
  
        <h2>Activity</h2>
  
        <p>
          <i>Estimated Time: 1-week</i>
        </p>

        <p>
            For this activity, you can search your closet, the internet, fashion magazines, or you can go to your favourite department store.<br>
        </p>

        <p>
            Beginning with the element of line, search for different hemlines, necklines, horizontal and vertical lines.<br> 
            Do they emphasise any particular area of the body? What about messages, do they send off a casual, feminine or professional message?<br>
        </p>

        <p>
            Now, try to look up each silhouette shape that was covered.<br> 
            What are your thoughts on the different shapes, do they send a different message? Follow the same process and find many garments with varying textures and shapes so that you get used to locating the different design elements in fashion.<br>
        </p>
        
        <p><i>Submittion should be make through the academic website.</i></p>

        <!--Footer for this project-->
        <hr>
        <footer class="bg-dark text-center text-gray-200">
              
            Copy Rights <span>&copy; 2023 Mg Fashionisto Academic. All Rights Reserved</span>
    
        </footer>
    

</body>
</html>